*::selection {
  background: $pink;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: 'Fleltex';
  background: #3d3b3b;
  height: 100vh;
  color: #f7f7f7;
  overflow: hidden;
  background: linear-gradient(-45deg, #011638, #3E4348, #2E294E, #011638);
	background-size: 400% 400%;
	animation: bodyGradient 15s ease infinite;
}

.wrapper {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $blue;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}

#sb-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#sb {
  animation: fadeInRight 1s;
}

#sb-title {
  margin-top: 10px;
  font-size: 0.5em;
}
@media (max-width: 650px) {
  #sb-title {
    margin-top: 30px;
  }
  
  #sb {
    font-size:4em;
  }
  #sb-social {
    margin-top: 30px;
  }
}
