.ReactBash {
    animation: fadeInRight 1s;
    width: 400px;
    height: 200px !important;
    margin: 20px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
    text-shadow: none !important;
    & > div:first-child {
        padding: 5px 10px 4px !important;
     }

     & > div:last-child {
         overflow-y: hidden !important;
     }

     span { font-family : 'Fleltex'; }
     input {
         outline: none !important;
     }
   
}