$white: #fff;
$light-grey: #fafafa;
$grey: #d7d7d7;
$black-soft: #444;
$black: #09090e;
$blue: #2c638f;
$pink: #fff0f5;
$yellow: #fffacd;

$sb-primary: $blue;
$sb-secondary: $pink;
$sb-tertiary: $yellow;